.search {
    display: none;
}

.content {
	height: auto;
}

form {
	width: 70%;
	padding: 20px;
	margin: auto;
	margin-top: 50px;
	margin-bottom: 50px;
	box-shadow: 0 1px 15px 1px rgba(39, 39, 39, 0.15);
    border-radius: 10px;
    background: #FFFFFF;
}

form #fecha {
	border-radius: 25px;
	width: 30%;
	display: inline-block;
	border-color: 1px solid rgb(221, 219, 219);
	color: #2A2A2A;
}

form #nombre,
form #num_exp,
form #cannon,
form #numero,
form #apellido, 
form #username, 
form #password {
	border-radius: 25px;
	width: 95%;
}

form #descripcion {
    border-radius: 25px;
    width: 97.5%;
}

form .causales,
form #tipo,
form .operador,
form #titulo,
form #fase,
form #fecha_sentencia {
	padding: .45rem .6rem;
    font-size: 1rem;
	line-height: 1.25;
	border-radius: 25px;
	width: 90%;
	border-color: rgb(221, 219, 219);
	color: #2A2A2A;
	vertical-align: middle;
}

form #fase,
form #fecha_sentencia {
	width: 40%;
}

.operadores li {
	padding-bottom: 10px;
}

form #tipo,
form #titulo {
	width: 97.5% !important;
}

form select:focus {
	outline: none;
}

form label {
	color: #FF5349;
}

form h3 {
	color: #FF5349;
	text-align: center;
}

div .form-group.col-md-6 {
	float: left;
}

.lista-etapas,
.operadores,
.titulo {
	list-style: none;
	padding: 0;
}

form > div > a,
form > div > label > i {
	font-size: 1.75rem;
	color:#FF5349;
	vertical-align: middle;
}

form > div > label > i {
	color: #99663D;
}

form > div > label > i:hover {
	color: #663300;
	cursor: pointer;
}

form > div > a:hover {
	color:#2A2A2A;
}

.btn {
	background: #FF5349;
	color: #FFFFFF;
	float: right;
}

.row {
	margin: 0;
}

.sentencia input {
	display: none;
}

.sentencia input:checked + i {
	color: #663300;
}

#inicio,
#fin {
	width: 85%;
	display: inline-block;
	border-radius: 25px;
}

#causa {
	display: inline-block;
    width: 75.5%;
    border-radius: 25px;
}