.search {
    display: none;
}

form {
	width: 70%;
	padding: 20px;
	margin: auto;
	margin-top: 50px;
	margin-bottom: 50px;
	box-shadow: 0 1px 15px 1px rgba(39, 39, 39, 0.15);
    border-radius: 10px;
    background: #FFFFFF;
}

form #cannon,
form #numero {
	border-radius: 25px;
	width: 95%;
}

form #descripcion {
    border-radius: 25px;
    width: 97.5%;
}

form label {
	color: #FF5349;
}

form h3 {
	color: #FF5349;
	text-align: center;
}

div .form-group.col-md-6 {
	float: left;
}

form > div > #cannon::placeholder {
	color: rgb(221, 219, 219);
}

.btn {
	background: #FF5349;
	color: #FFFFFF;
	float: right;
}

.row {
	margin: 0;
}