@font-face {

    font-family: BebasNeue;

    src: url("../fonts/BebasNeue-Regular.ttf");

}



@font-face {

    font-family: Roboto;

    src: url("../fonts/Roboto-Regular.ttf");

}

  

body {

    color: #2c2c2c;

    background: #F0F0F1;

    font-size: 14px;

    font-family: Roboto;

    -moz-osx-font-smoothing: grayscale;

    -webkit-font-smoothing: antialiased; 

}

  

.wrapper {

    position: relative;

    top: 0;

    height: 100vh; 

}



.wrapper.wrapper-full-page {

    min-height: 100vh;

    height: auto; 

}

  

.sidebar, 

.off-canvas-sidebar {

    position: fixed;

    top: 0;

    height: 100%;

    bottom: 0;

    width: 260px;

    left: 0;

    z-index: 1030; 

}

    

.sidebar .sidebar-wrapper, 

.off-canvas-sidebar .sidebar-wrapper {

    position: relative;

    height: calc(100vh - 75px);

    overflow: auto;

    width: 260px;

    z-index: 4;

    padding-bottom: 100px; 

}

      

.sidebar .sidebar-wrapper .dropdown .dropdown-backdrop,

.off-canvas-sidebar .sidebar-wrapper .dropdown .dropdown-backdrop {

    display: none !important; 

}



.sidebar .sidebar-wrapper .navbar-form,

.off-canvas-sidebar .sidebar-wrapper .navbar-form {

    border: none; 

}



.sidebar .navbar-minimize,

.off-canvas-sidebar .navbar-minimize {

    position: absolute;

    right: 20px;

    top: 2px;

    opacity: 1; 

}

    

.sidebar .logo-tim,

.off-canvas-sidebar .logo-tim {

    border-radius: 50%;

    border: 1px solid #333;

    display: block;

    height: 61px;

    width: 61px;

    float: left;

    overflow: hidden; 

}

      

.sidebar .logo-tim img,

.off-canvas-sidebar .logo-tim img {

    width: 60px;

    height: 60px; 

}

    

.sidebar .nav,

.off-canvas-sidebar .nav {

    margin-top: 20px;

    display: block; 

}

      

.sidebar .nav .caret,

.off-canvas-sidebar .nav .caret {

    top: 14px;

    position: absolute;

    right: 10px; 

}

      

.sidebar .nav li > a + div .nav li > a,

.off-canvas-sidebar .nav li > a + div .nav li > a {

    margin-top: 7px; 

}



.sidebar .nav li > a,

.off-canvas-sidebar .nav li > a {

    margin: 10px 15px 0;

    border-radius: 10px;

    color: #FFFFFF;

    display: block;

    text-decoration: none;

    position: relative;

    text-transform: uppercase;

    cursor: pointer;

    font-size: 0.7142em;

    padding: 10px 8px;

    line-height: 1.625rem; 

}

    

.sidebar .nav li:first-child > a,

.off-canvas-sidebar .nav li:first-child > a {

    margin: 0 15px; 

}

      

.sidebar .nav li:hover:not(.active) > a,

.sidebar .nav li:focus:not(.active) > a,

.off-canvas-sidebar .nav li:hover:not(.active) > a,

.off-canvas-sidebar .nav li:focus:not(.active) > a {

    background-color: rgba(255, 255, 255, 0.1); 

}



.sidebar .nav li:hover:not(.active) > a i,

.sidebar .nav li:focus:not(.active) > a i,

.off-canvas-sidebar .nav li:hover:not(.active) > a i,

.off-canvas-sidebar .nav li:focus:not(.active) > a i {

    color: #FFFFFF; 

}



.sidebar .nav li.active > a,

.off-canvas-sidebar .nav li.active > a {

    background-color: #4F80E1;

    -webkit-box-shadow: 0 1px 15px 1px rgba(39, 39, 39, 0.1);

    box-shadow: 0 1px 15px 1px rgba(39, 39, 39, 0.1); 

}

      

.sidebar .nav p,

.off-canvas-sidebar .nav p {

    margin: 0;

    line-height: 30px;

    position: relative;

    display: block;

    height: auto;

    white-space: nowrap; 

}



.sidebar .nav i,

.off-canvas-sidebar .nav i {

    font-size: 20px;

    float: left;

    margin-right: 12px;

    line-height: 30px;

    width: 34px;

    text-align: center;

    color: rgba(255, 255, 255, 0.5);

    position: relative; 

}



.sidebar .sidebar-background,

.off-canvas-sidebar .sidebar-background {

    position: absolute;

    z-index: 1;

    height: 100%;

    width: 100%;

    display: block;

    top: 0;

    left: 0;

    background-size: cover;

    background-position: center center; 

}

      

.sidebar .sidebar-background:after,

.off-canvas-sidebar .sidebar-background:after {

    position: absolute;

    z-index: 3;

    width: 100%;

    height: 100%;

    content: "";

    display: block;

    background: #FFFFFF;

    opacity: 1; 

}

    

.sidebar .nombre,

.off-canvas-sidebar .nombre {

    position: relative;

    padding: 0.5rem 0.7rem;

    z-index: 4; 

}



.sidebar .nombre a.logo-mini,

.off-canvas-sidebar .nombre a.logo-mini {

    opacity: 1;

    float: left;

    width: 34px;

    text-align: center;

    margin-left: 10px;

    margin-right: 12px; 

}

      

.sidebar .nombre a.logo-normal,

.off-canvas-sidebar .nombre a.logo-normal {

    display: block;

    opacity: 1;

    -webkit-transform: translate3d(0px, 0, 0);

    transform: translate3d(0px, 0, 0); 

}

  

.sidebar .nombre:after,

.off-canvas-sidebar .nombre:after {

    content: '';

    position: absolute;

    bottom: 0;

    right: 15px;

    height: 1px;

    width: calc(100% - 30px);

    background-color: rgba(255, 255, 255, 0.5); 

}



.sidebar .nombre p,

.off-canvas-sidebar .nombre p {

        float: left;

        font-size: 20px;

        margin: 10px 10px;

        color: #FFFFFF;

        line-height: 20px;

        font-family: Roboto; 

}



.sidebar .nombre .simple-text,

.off-canvas-sidebar .nombre .simple-text {

    text-transform: uppercase;

    padding: 0.5rem 0;

    display: block;

    white-space: nowrap;

    font-size: 1em;

    color: #FFFFFF;

    text-align: center;

    text-decoration: none;

    font-weight: 400;

    line-height: 30px;

    overflow: hidden; 

}



.sidebar .logo-tim,

.off-canvas-sidebar .logo-tim {

    border-radius: 50%;

    border: 1px solid #333;

    display: block;

    height: 61px;

    width: 61px;

    float: left;

    overflow: hidden; 

}



.sidebar .logo-tim img,

.off-canvas-sidebar .logo-tim img {

    width: 60px;

    height: 60px; 

}



.sidebar:before, .sidebar:after,

.off-canvas-sidebar:before,

.off-canvas-sidebar:after {

    display: block;

    content: "";

    opacity: 1;

    position: absolute;

    width: 100%;

    height: 100%;

    top: 0;

    left: 0; 

}



.sidebar:after,

.off-canvas-sidebar:after {

    background: #2A2A2A;

    box-shadow: 0px 2px 22px 0 rgba(0, 0, 0, 0.2), 0px 2px 30px 0 rgba(0, 0, 0, 0.35);

    z-index: 3; 

}

  

.visible-on-sidebar-regular {

    display: inline-block !important; 

}

  

.visible-on-sidebar-mini {

    display: none !important; 

}

  

.off-canvas-sidebar .nav > li > a,

.off-canvas-sidebar .nav > li > a:hover {

    color: #FFFFFF; 

}

  

.off-canvas-sidebar .nav > li > a:focus {

    background: rgba(200, 200, 200, 0.2); 

}

  

.main-panel {

    position: relative;

    float: right;

    height: 100%;

    width: calc(100% - 260px);

    background-color: #F0F0F1;

    -webkit-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);

    transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1); 

}



.main-panel > .navbar {

    margin-bottom: 0; 

}

  

.perfect-scrollbar-on .sidebar,

.perfect-scrollbar-on .main-panel {

    height: 100%;

    max-height: 100%; 

}

  

  

.main-panel header {

    padding-bottom: 25px;

    border-bottom: 1px solid rgb(221, 219, 219);

}

  

.main-panel header .logo {

    position: absolute;

    left: 100px;

    width: 125px;

    height: 125px;

    margin-top: 5px;

}

  

.main-panel header .logo img {

    width: 105px;

    height: 105px;

}

  

.main-panel header .titulo {

    padding-top: 15px;

}

  

.main-panel header .titulo h2 {

    text-align: center;

    color: #FF5349;

    font-family: BebasNeue;

    margin-bottom: 2px;

} 

.bar_button i {
    color: #4F80E1;
    font-size: 25px;
    vertical-align: middle;
}

.search {

    background-color: #2A2A2A;

    top: 0;

    text-align: center;

    width: 60%;

    height: 40px;

    margin: auto;

    border-radius: 0px 0px 20px 20px;

}



.search #buscador i {

    font-size: 31px;

    color: #4F80E1;

    margin-top: 4px;

    margin-right: 5px;

}



#buscador,

#buscador .input-group {

    display: inline;

    margin-left: 2px;

}



#buscador .input-group > #search-icon {

    font-size: 24px;

    position: absolute;

    left: 7px;

    top: calc(50% - 14px);

    color: #000000;

}



#buscador .input-group input {

    padding-left: 40px;

    width: 86%;

    height: 30px;

    vertical-align: middle;

    border-radius: 14px;

    border: 1px solid #FFFFFF;

    margin-top: 5px;

}



/* width */

::-webkit-scrollbar {

    width: 10px;

}



/* Track */

::-webkit-scrollbar-track {

    background: #f1f1f1; 

}



/* Handle */

::-webkit-scrollbar-thumb {

    background: #888; 

}



/* Handle on hover */

::-webkit-scrollbar-thumb:hover {

    background: #555; 

}



.content {

    height: 88%;

    color: #2A2A2A;

    margin: 0;

    padding: 0;

}



.alert {

    margin-top: 10px !important;

    width: 80%;

    margin: auto;

    margin-bottom: -40px;

}



.alert-danger {

    padding-bottom: 0;

    width: 70%;

}