.content {
    height: auto !important;
}

table {
    width: 80%;
    margin: auto;
    background: #FFFFFF;
    color: #2A2A2A; 
    box-shadow: 0 1px 15px 1px rgba(39, 39, 39, 0.15);
    border-radius: 10px;
}

thead > tr {
    color: #FF5349;
}

tbody > tr {
    border-top: 1px solid rgb(221, 219, 219);
}

thead > tr > th,
tbody > tr > td {
    padding: 10px 20px 10px 20px;
}

.lista {
    width: 100%;
    margin-top: 50px;
}

div.links {
    text-align: center;
}

.pagination {
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 25px;
    display: inline-block;
}

ul.pagination li {
    padding: 10px;
    list-style: none;
    margin: 0 auto;
    display: inline;
}

.pagination a,
.pagination li.active,
.pagination li.disabled {
    float: left;
    padding: 0 14px;
    line-height: 34px;
    text-decoration: none;
    border: 1px solid rgb(221, 219, 219);
    color: #2A2A2A;   
    background: #FFFFFF;  
    
}

.pagination li.active {
    background: #FF5349;
    color: #FFFFFF;
    border: 1px solid #FF5349;
    font-weight: bold;
}

.pagination a:hover {
    background: #F0F0F1;
}

.pagination li:first-child {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.pagination li:last-child a {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

#accion {
    width: 150px;
}